@model TPFinalGrupo4.Models.Alojamiento

@{
    ViewData["Title"] = "Create";
}
@inject LanguageService language

<h1 class="text-center">Crear Alojamiento</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="form-group col-4">
                    <label asp-for="Codigo" class="control-label"></label>
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Ciudad" class="control-label"></label>
                    <input asp-for="Ciudad" class="form-control" />
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Barrio" class="control-label"></label>
                    <input asp-for="Barrio" class="form-control" />
                    <span asp-validation-for="Barrio" class="text-danger"></span>
                </div>

                <div class="form-group col-3">
                    <label asp-for="Estrellas" class="control-label"></label>
                    <input asp-for="Estrellas" class="form-control" list="browsersa" name="searchCiudad" id="searchCiudad" />
                    <datalist id="browsersa">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                    </datalist>
                    <span asp-validation-for="Estrellas" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="CantidadDePersonas" class="control-label"></label>
                    <input asp-for="CantidadDePersonas" class="form-control" list="browsersa" name="searchCiudad" id="searchCiudad" />
                    <datalist id="browsersa">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                    <span asp-validation-for="CantidadDePersonas" class="text-danger"></span>
                </div>
                <div class="form-group form-check align-self-center col-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Tv" /> @Html.DisplayNameFor(model => model.Tv)
                    </label>
                </div>
                <div class="form-group col-3">
                    <label asp-for="Tipo" class="control-label"></label>
                    <input asp-for="Tipo" class="form-control" />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <label asp-for="PrecioPorPersona" class="control-label"></label>
                    <input asp-for="PrecioPorPersona" class="form-control" />
                    <span asp-validation-for="PrecioPorPersona" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="PrecioPorDia" class="control-label"></label>
                    <input asp-for="PrecioPorDia" class="form-control" />
                    <span asp-validation-for="PrecioPorDia" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Habitaciones" class="control-label"></label>
                    <input asp-for="Habitaciones" class="form-control" />
                    <span asp-validation-for="Habitaciones" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Banios" class="control-label"></label>
                    <input asp-for="Banios" class="form-control" />
                    <span asp-validation-for="Banios" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <input type="submit" value="@language.Getkey("Crear")" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-primary">@language.Getkey("Volver")</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
