@model Trabajo_Final___Grupo_4.Models.Reserva
 
@{
    ViewData["Title"] = "Reservar";
}

<h1 class="display-4">@ViewData["alojamiento_tipo"]</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <input type="hidden" name="id_alojamiento" value="@ViewData["alojamiento_id"]" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="fechaDesde" class="control-label"></label>
                    <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" />
                </div>

                <div class="form-group col-md-6">
                    <label for="fechaHasta" class="control-label"></label>
                    <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" />
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
